// Minimal style to get a working ActiveList

div[data-list-source] {
  table.list {
    thead {
      tr {
        th {
          &[data-list-column-sort] {
            cursor: pointer;
          }
          &.hidden {
            display: none;
          }
        }
      }
    }
    tbody {
      tr {
        td.hidden {
          display: none;
        }
      }
    }
  }
}


.list-pagination {
  a[data-list-move-to-page] {
    cursor: pointer;
  }
  a[data-list-move-to-page][disabled] {
    cursor: default;
  }
}


.list-settings {
  position: relative;
  a { cursor: pointer; }
  &:hover {
    .settings-start { z-index: 5000;  position: relative; top: 0px; }
    & > ul { display: block; }
  }
  ul {
    display: none;
    position: absolute;
    top: 20px;
    margin: 0;
    & { right: 0px;}
    html[dir="rtl"] & { left: 0px;}
    li {
      &[data-list-change-page-size], &[data-list-toggle-column] {
        cursor: pointer;
        display: block;
      }
      list-style-type: none;
      width: 25ex;
      position: relative;
      a {
        display: block;
      }
      ul {
        position: relative;
        top: -1em;
        & { right: 25ex; }
        html[dir="rtl"] & { left: 25ex; }
        &:hover { display:block; }
      }
      &:hover ul { display:block; }
    }
  }
}
